<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.shop.domain.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    <result column="user_telephone" property="userTelephone" jdbcType="VARCHAR" />
    <result column="user_email" property="userEmail" jdbcType="VARCHAR" />
    <result column="user_pic" property="userPic" jdbcType="VARCHAR" />
    <result column="user_createtime" property="userCreatetime" jdbcType="TIMESTAMP" />
  </resultMap>


  <!--
  public User findUserByEmail(@Param("userEmail") String userEmail);
  -->
  <select id="findUserByEmail" resultMap="BaseResultMap" parameterType="java.lang.String">
    select * from user where user_email = #{userEmail}
  </select>

  <!--
  public User findUserByTel(String userTelephone);
  -->
  <select id="findUserByTel" resultMap="BaseResultMap" parameterType="java.lang.String">
    select * from user where user_telephone=#{userTelephone}
  </select>

  <!--
  public User findUserByName(String userName);
  -->
  <select id="findUserByName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select * from user where user_name=#{userName}
  </select>

  <!--
  public int insertUser(User user);
  -->
  <insert id="insertUser" parameterType="com.shop.domain.User" >
    insert into user (user_id, user_name, user_password,
      user_telephone, user_email, user_pic,user_createtime
      )
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR},
      #{userTelephone,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR}, #{userPic,jdbcType=VARCHAR},
      #{userCreatetime,jdbcType=TIMESTAMP}
      )
  </insert>

  <!--
  public List<User> findAll();
  -->
  <select id="findAll" resultMap="BaseResultMap">
    select * from user
  </select>

  <!--
  public User findById(int id);
  -->
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select * from user where user_id=#{id}
  </select>

  <!--
  public int updateById(User user);
  -->
  <update id="updateById" parameterType="com.shop.domain.User">
    update user
    <set>
      <if test="userName!=null || userName!=''">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null || userPassword != '' ">
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userTelephone != null || userTelephone != '' ">
        user_telephone = #{userTelephone,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null || userEmail != '' ">
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userPic != null || userPic != '' ">
        user_pic = #{userPic,jdbcType=VARCHAR},
      </if>
      <if test="userCreatetime != null || userCreatetime != '' ">
        user_createtime = #{userCreatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>